@import './../node_modules/bootstrap/scss/bootstrap.scss';

$credit: #dfd;
$debit: #fdd;


body {
    min-height: 2000px;
    padding-top: 90px;
  }

.dashboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    'transaction-list transaction-list transaction-list . . . . . ';
}

.transaction-list-container {
    grid-area: transaction-list;
}

.credit {
    background-color: $credit;
}

.debit {
    background-color: $debit;
}

